/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define LOWER 1
#define LOWEST 2

/ {
    macros {
        bt_clr: bt-macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &bt BT_CLR>;
        };
        bt_0: bt-sel-0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &out OUT_USB &bt BT_ADV_OFF &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4>;
        };
        bt_1: bt-sel-1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &out OUT_BLE &bt BT_ADV_ON &bt BT_SEL 1>;
        };
        bt_2: bt-sel-2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &out OUT_BLE &bt BT_ADV_ON &bt BT_SEL 2>;
        };
        bt_3: bt-sel-3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &out OUT_BLE &bt BT_ADV_ON &bt BT_SEL 3>;
        };
        bt_4: bt-sel-4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &out OUT_BLE &bt BT_ADV_ON &bt BT_SEL 4>;
        };
    };

    behaviors {
        bt_lp: behavior_bt_lp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <1000>;
            bindings = <&bt_clr>, <&none>;
        };
        rst_lp: behavior_rst_lp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <1000>;
            bindings = <&bootloader>, <&sys_reset>;
        };
    };

    swap: swapper {
        compatible = "zmk,behavior-tri-state";
        #binding-cells = <0>;
        bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
        ignored-key-positions = <42 55>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ┏━━━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┓            ┏━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━━━┓
// ┃  ESC  ┃  1  ┃  2  ┃  3  ┃  4  ┃  5  ┃ HOME┃            ┃ END ┃  6  ┃  7  ┃  8  ┃  9  ┃  0  ┃   -   ┃
// ┣━━━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━┫            ┣━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━━━┫
// ┃  TAB  ┃  Q  ┃  W  ┃  E  ┃  R  ┃  T  ┃  `  ┃            ┃  [  ┃  Y  ┃  U  ┃  I  ┃  O  ┃  P  ┃   =   ┃
// ┣━━━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━┫     ┃            ┃     ┣━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━━━┫
// ┃  CTRL ┃  A  ┃  S  ┃  D  ┃  F  ┃  G  ┣━━━━━┫            ┣━━━━━┫  H  ┃  J  ┃  K  ┃  L  ┃  ;  ┃   '   ┃
// ┣━━━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━┃  \  ┃            ┃  ]  ┣━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━━━┫
// ┃  SHFT ┃  Z  ┃  X  ┃  C  ┃  V  ┃  B  ┃     ┃            ┃     ┃  N  ┃  M  ┃  ,  ┃  .  ┃  /  ┃ SHFT  ┃
// ┗━┳━━━━━╋━━━━━╋━━━━━╋━━━━━┻━━━━━╋━━━━━╋━━━━━┫            ┣━━━━━╋━━━━━╋━━━━━┻━━━━━╋━━━━━╋━━━━━╋━━━━━┳━┛
//   ┃SLEEP┃ BRT-┃ BRT+┃           ┃ DEL ┃     ┃            ┃     ┃ BSP ┃           ┃VOL- ┃VOL+ ┃MUTE ┃
//   ┗━━━━━┻━━━━━┻━━━━━┛           ┣━━━━━┫ SPC ┃            ┃ ENT ┣━━━━━┫           ┗━━━━━┻━━━━━┻━━━━━┛
//                                 ┃ LWR ┃     ┃            ┃     ┃ LWR ┃
//                                 ┗━━━━━┻━━━━━┛            ┗━━━━━┻━━━━━┛
            bindings = <
&kp ESC   &kp N1       &kp N2       &kp N3 &kp N4 &kp N5    &kp HOME       &kp END   &kp N6    &kp N7 &kp N8    &kp N9       &kp N0       &kp MINUS
&kp TAB   &kp Q        &kp W        &kp E  &kp R  &kp T     &kp GRAVE      &kp LBKT  &kp Y     &kp U  &kp I     &kp O        &kp P        &kp EQUAL
&kp LCTRL &kp A        &kp S        &kp D  &kp F  &kp G     &kp BSLH       &kp RBKT  &kp H     &kp J  &kp K     &kp L        &kp SEMI     &kp SQT
&kp LSHFT &kp Z        &kp X        &kp C  &kp V  &kp B                              &kp N     &kp M  &kp COMMA &kp DOT      &kp FSLH     &kp RSHFT
&kp LG(L) &kp C_BRI_DN &kp C_BRI_UP               &kp DEL   &kp SPACE      &kp ENTER &kp BSPC                   &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE
                                                  &mo LOWER &none          &none     &mo LOWER
            >;
        };

        lower_layer {
// ┏━━━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┓            ┏━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━━━┓
// ┃  RST  ┃ Win1┃ Win2┃ Win3┃ Win4┃ Win5┃ HOME┃            ┃ END ┃Win6 ┃Win7 ┃Win8 ┃Win9 ┃Win0 ┃   -   ┃
// ┣━━━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━┫            ┣━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━━━┫
// ┃ AlTAB ┃ WinQ┃ WinW┃ WinE┃ WinR┃ WinT┃  `  ┃            ┃  [  ┃WinY ┃WinU ┃  ↑  ┃WinO ┃WinP ┃   =   ┃
// ┣━━━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━┫     ┃            ┃     ┣━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━━━┫
// ┃  CTRL ┃ WinA┃ WinS┃ WinD┃ WinF┃ WinG┣━━━━━┫            ┣━━━━━┫WinH ┃  ←  ┃  ↓  ┃  →  ┃  ;  ┃   '   ┃
// ┣━━━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━┃  \  ┃            ┃  ]  ┣━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━━━┫
// ┃  SHFT ┃ BT0 ┃ BT1 ┃ BT2 ┃ BT3 ┃ BT4 ┃     ┃            ┃     ┃WinN ┃WinM ┃  ,  ┃EMOJI┃  /  ┃ SHFT  ┃
// ┗━┳━━━━━╋━━━━━╋━━━━━╋━━━━━┻━━━━━╋━━━━━╋━━━━━┫            ┣━━━━━╋━━━━━╋━━━━━┻━━━━━╋━━━━━╋━━━━━╋━━━━━┳━┛
//   ┃BTCLR┃ BRT-┃ BRT+┃           ┃AltDL┃     ┃            ┃     ┃ BSP ┃           ┃VOL- ┃VOL+ ┃MUTE ┃
//   ┗━━━━━┻━━━━━┻━━━━━┛           ┣━━━━━┫ SPC ┃            ┃ ENT ┣━━━━━┫           ┗━━━━━┻━━━━━┻━━━━━┛
//                                 ┃ Win ┃     ┃            ┃     ┃ Win ┃
//                                 ┗━━━━━┻━━━━━┛            ┗━━━━━┻━━━━━┛
            bindings = <
&rst_lp 0 0 &kp LG(N1)   &kp LG(N2)   &kp LG(N3) &kp LG(N4) &kp LG(N5)      &kp HOME       &kp END   &kp LG(N6)      &kp LG(N7) &kp LG(N8) &kp LG(N9)   &kp LG(N0)   &kp MINUS
&swap       &kp LG(Q)    &kp LG(W)    &kp LG(E)  &kp LG(R)  &kp LG(T)       &kp GRAVE      &kp LBKT  &kp LG(Y)       &kp LG(U)  &kp UP     &kp LG(O)    &kp LG(P)    &kp EQUAL
&kp LCTRL   &kp LG(A)    &kp LG(S)    &kp LG(D)  &kp LG(F)  &kp LG(G)       &kp BSLH       &kp RBKT  &kp LG(H)       &kp LEFT   &kp DOWN   &kp RIGHT    &kp SEMI     &kp SQT
&kp LSHFT   &bt_0        &bt_1        &bt_2      &bt_3      &bt_4                                    &kp LG(N)       &kp LG(M)  &kp COMMA  &kp LA(SPC)  &kp FSLH     &kp RSHFT
&bt_lp 0 0  &kp C_BRI_DN &kp C_BRI_UP                       &kp LA(DEL)     &kp SPACE      &kp ENTER &kp BSPC                              &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE
                                                            &lt LOWEST LGUI &none          &none     &lt LOWEST LGUI
            >;
        };

        lowest_layer {
// ┏━━━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┓            ┏━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━┳━━━━━━━┓
// ┃  RST  ┃ Win1┃ Win2┃ Win3┃ Win4┃ Win5┃ HOME┃            ┃ END ┃Win6 ┃Win7 ┃Win8 ┃Win9 ┃Win0 ┃   -   ┃
// ┣━━━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━┫            ┣━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━━━┫
// ┃ AlTAB ┃ WinQ┃ WinW┃ WinE┃ WinR┃ WinT┃  `  ┃            ┃  [  ┃WinY ┃WinU ┃  ↑  ┃WinO ┃WinP ┃   =   ┃
// ┣━━━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━┫     ┃            ┃     ┣━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━━━┫
// ┃  CTRL ┃ WinA┃ WinS┃ WinD┃ WinF┃ WinG┣━━━━━┫            ┣━━━━━┫WinH ┃  ←  ┃  ↓  ┃  →  ┃  ;  ┃   '   ┃
// ┣━━━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━┃  \  ┃            ┃  ]  ┣━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━╋━━━━━━━┫
// ┃  SHFT ┃ BT0 ┃ BT1 ┃ BT2 ┃ BT3 ┃ BT4 ┃     ┃            ┃     ┃WinN ┃WinM ┃  ,  ┃EMOJI┃  /  ┃ SHFT  ┃
// ┗━┳━━━━━╋━━━━━╋━━━━━╋━━━━━┻━━━━━╋━━━━━╋━━━━━┫            ┣━━━━━╋━━━━━╋━━━━━┻━━━━━╋━━━━━╋━━━━━╋━━━━━┳━┛
//   ┃BTCLR┃ BRT-┃ BRT+┃           ┃AltDL┃     ┃            ┃     ┃ BSP ┃           ┃VOL- ┃VOL+ ┃MUTE ┃
//   ┗━━━━━┻━━━━━┻━━━━━┛           ┣━━━━━┫ SPC ┃            ┃ ENT ┣━━━━━┫           ┗━━━━━┻━━━━━┻━━━━━┛
//                                 ┃ Win ┃     ┃            ┃     ┃ Win ┃
//                                 ┗━━━━━┻━━━━━┛            ┗━━━━━┻━━━━━┛
            bindings = <
&rst_lp 0 0 &kp F1       &kp F2       &kp F3    &kp F4    &kp F5      &kp HOME       &kp END   &kp F6     &kp F7       &kp F8       &kp F9        &kp F10      &kp F11
&swap       &kp LG(Q)    &kp LG(W)    &kp LG(E) &kp LG(R) &kp LG(T)   &kp GRAVE      &kp LBKT  &kp LG(Y)  &kp LG(U)    &kp LG(UP)   &kp LG(O)     &kp LG(P)    &kp F12
&kp LCTRL   &kp LG(A)    &kp LG(S)    &kp LG(D) &kp LG(F) &kp LG(G)   &kp BSLH       &kp RBKT  &kp LG(H)  &kp LG(LEFT) &kp LG(DOWN) &kp LG(RIGHT) &kp SEMI     &kp SQT
&kp LSHFT   &bt_0        &bt_1        &bt_2     &bt_3     &bt_4                                &kp LG(N)  &kp LG(M)    &kp COMMA    &kp LA(SPC)   &kp FSLH     &kp RSHFT
&bt_lp 0 0  &kp C_BRI_DN &kp C_BRI_UP                     &kp LA(DEL) &kp SPACE      &kp ENTER &kp BSPC                             &kp C_VOL_DN  &kp C_VOL_UP &kp C_MUTE
                                                          &mo LOWEST  &none          &none     &mo LOWEST
            >;
        };
    };
};